<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>主页</title>
</head>
<body>
<div title="欢迎使用" style="padding:20px;padding-top:0px;overflow:hidden;" >
    <p style="font-size: 50px; line-height: 60px; height: 60px;">name</p>
    <p style="font-size: 25px; line-height: 30px; height: 30px;">欢迎使用Kallsc CRM客户管理系统</p>
    <p>开发人员：ks</p>
    <p>开发周期：2020/2/10 --- 2020/2/20（共计10天）</p>
    <hr />
    <h2>功能模块</h2>
    <h3>（1）系统管理</h3>
    <p>用户管理，角色管理，菜单管理，部门管理，个人中心，岗位管理，字典管理，参数设置，通知公告，日志管理</p>
    <h3>（2）系统监控</h3>
    <p>在线用户，定时任务，数据监控，服务监控</p>
    <h3>（3）系统工具</h3>
    <p>表单构建，代码生成，系统接口</p>
    <hr />
    <h2>开发技术</h2>
    <p>后端：SpringBoot + Mybatis + Shiro + Thymeleaf</p>
    <p>前端：HTML + AJAX + LayUI</p>
    <p>开发工具：IntelliJ IDEA</p>
    <p>项目管理：MAVEN</p>
    <p>版本控制：GIT</p>
    <p>JAVA环境：JDK1.8</p>
    <p>数据库：MySQL 5.7</p>
    <p>源码分享GitHub：www.xxx.com</p>
</div>
</body>
</html>