<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.4.5/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<form class="layui-form" action="" id="form1">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" th:value="${order.name}" placeholder="请输入姓名" lay-verify="required" autocomplete="off" class="layui-input" readonly="value">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">WeChat号</label>
            <div class="layui-input-inline">
                <input type="text" name="wechat_no" id="wechat_no" th:value="${order.wechat_no}" placeholder="请输入微信号" autocomplete="off" class="layui-input" readonly="value">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">WeChat备注</label>
            <div class="layui-input-inline">
                <input type="text" name="wechat_mark" th:value="${order.wechat_mark}" placeholder="请输入微信备注" autocomplete="off" class="layui-input" readonly="value">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">QQ号</label>
            <div class="layui-input-inline">
                <input type="qq_no" name="qq_no" th:value="${order.qq_no}" placeholder="请输入微信备注" -verify="required" autocomplete="off" class="layui-input" readonly="value">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input type="tel" name="tel" th:value="${order.tel}" placeholder="请输入手机号" lay-verify="tel" autocomplete="off" class="layui-input" readonly="value">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">购买课程</label>
            <div class="layui-input-inline">
                <input  type="course_price" name="course_price" th:value="${order.course_name}"  lay-verify="required" autocomplete="off" class="layui-input" readonly="value">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">买入价格</label>
            <div class="layui-input-inline">
                <input type="course_price" name="course_price" th:value="${order.course_price}" placeholder="请输入买入价格" lay-verify="required" autocomplete="off" class="layui-input" readonly="value">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">购买日期</label>
            <div class="layui-input-inline">
                <input type="text" name="order_date" th:value="${order.order_date}" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" readonly="value">
            </div>
        </div>
    </div>

</form>

<script src="https://www.layuicdn.com/layui-v2.4.5/layui.js" charset="utf-8"></script>


<script>
    var $,layer;

    layui.use(['form'], function(){
        $ = layui.jquery;
        layer = layui.layer;
    });

</script>
</body>
</html>



