<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.4.5/css/layui.css"  media="all">
    <script src="https://www.layuicdn.com/layui-v2.4.5/layui.js" charset="utf-8"></script>
</head>
<body>

<br>
<form class="layui-form" action="" id="searchform">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-inline">
            <input type="text" name="role_name" id="role_name" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">权限字符</label>
        <div class="layui-input-inline">
            <input type="text" name="role_key"  id='role_key' autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">角色状态</label>
        <div class="layui-input-inline">
            <select name="status" id="status" lay-verify="required" lay-search="">
                <option value="">所有</option>
                <option value="0">正常</option>
                <option value="1">停用</option>
            </select>
        </div>
        <div class="site-demo-button" id="top_options" style="margin-bottom: 0;margin-right: 20px" align="right" >
            <button class="layui-btn layui-btn-sm" type="button" onclick="doSearch()">Search</button>
            <button type="reset" class="layui-btn layui-btn-sm" >Rest</button>
        </div>
    </div>
</form>


<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    var table,$;

    layui.use('table', function(){
        table = layui.table;
        $ = layui.jquery;
        table.render({
            elem: '#test'
            ,url:'/sys/role_list'
            ,toolbar: '#toolbarDemo'
            ,title: '角色数据表'
            ,totalRow: true
            ,cols: [
                [
                {type: 'checkbox', fixed: 'left'}
                //,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
                ,{field:'role_id', title:'角色编号', width:250}
                ,{field:'role_name', title:'角色名称', width:250}
                ,{field:'role_key', title:'权限字符', width:250}
                ,{field:'data_scope', title:'权限范围', width:250}
                ,{field:'status', title:'角色状态', width:250}
                ,{field:'create_time', title:'创建时间', width:250,templet:'<div>{{ layui.util.toDateString(d.create_time, "yyyy-MM-dd HH:mm:ss") }}</div>'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                ]
            ]
            ,done: function(){

            }
            ,page: true
            ,limit:8
            ,limits:[5,6,7,8,9,10]
            ,id:'orderReload'
        });

        //工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选')
                    break;
                case 'add':
                    parent.layer.open({
                        type:2,//2跳转到页面
                        offset: 'auto',
                        title:'添加角色',
                        content:'/sys/role_add_page',
                        area: ['1000px', '350px'],
                        btn:'关闭全部',
                        btnAlign:'c',
                        yes:function () {
                            parent.layer.closeAll();
                        }
                    });
                    break;
            };
        });


        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var role_id = obj.data.role_id; //获得role_id
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'edit'){ //编辑
                parent.layer.open({
                    type:2,//2跳转到页面
                    offset: 'auto',
                    title:'编辑用户',
                    content:'/sys/role_edit?role_id='+role_id,
                    area: ['1000px', '350px'],
                    btn:'关闭全部',
                    btnAlign:'c',
                    yes:function () {
                        parent.layer.closeAll();
                    }
                });
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    if(index==1){
                        //向服务端发送删除指令
                        $.post("/sys/role_del?role_id="+role_id,function(result){
                            console.log(result);
                            if(result.type=1){
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            }
                        });
                        layer.close(index);
                    }
                });
            }
        });
    });

    function doSearch() {
        var role_name = $('#role_name').val();
        var role_key = $('#role_key').val();
        var status = $('#status').val();

        table.reload('orderReload',{
            where:{
                role_name:role_name,
                role_key:role_key,
                status:status
            },
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

</script>

</body>
</html>